body {

    color: #FFCE45;
    background-image: url(../img/PWTbg.jpeg);
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.div1{
    background-color: #FFCE45;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    margin-bottom: 70px;
}


hr{
    border-style: dotted none none;
    border-color: #FFCE45;
    border-width: 7px;
    width: 10%;
}


h3 :hover{
    background-color: #FF8C32;
}



.Heading{
    display:inline-block;
    height: 250px;
    background-color:#FFCE45;
    color:black;
    border-radius: 30px;
    width: 1050px;
}


.PWTHeading{
    
    color: black;
}
.Title{
    color: black;
}

.playstation{
    float: left;
    width: 20%;
    padding-left: 150px;
}

.nintendo{
    float: right;
    width: 20%;
    padding-right: 150px;
}

.ToBuyGamesh3{
    display:inline-block;
    height: 25px;
    background-color:#FFCE45;
    color:black;
    border-radius: 10px;
    width: 150px;
}

.CustomersListh3{
    display:inline-block;
    height: 25px;
    background-color:#FFCE45;
    color:black;
    border-radius: 10px;
    width: 150px;
}

.FacebookPage{
    display:inline-block;
    height: 20px;
    background-color:#FFCE45;
    color:black;
    border-radius: 10px;
    width: 150px;
}

.FacebookMessenger{
    display:inline-block;
    height: 20px;
    background-color:#FFCE45;
    color:black;
    border-radius: 10px;
    width: 150px;
}

