body {

    color: #FFCE45;
    background-image: url(../img/PWTbg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px;
}



.container{
    background-color: #FFCE45;
    height: 130px;
    width: 100%;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    margin-bottom: 70px;
    margin-top: 0px;

}
.divlogo{
    position: absolute;
    top: 3%;
    left: 5%;
}
.PWT{
    position:absolute;
    top: 2%;
    right: 10%;
    color: black;
}

.playstation{
    float: left;
    width: 20%;
    padding-left: 100px;
}

.nintendo{
    float: right;
    width: 20%;
    padding-right: 100px;
}


hr{
    border-style: dotted none none;
    border-color: #FFCE45;
    border-width: 7px;
    width: 10%;
}

h1{
    font-family: 'Ms Madi', cursive;
    font-size: 2.5rem;
}

h3{
    font-size: 2rem;
}

h3 :hover{
    background-color: #FF8C32;
    
}



.Heading{
    display:inline-block;
    height: 250px;
    background-color:#FFCE45;
    color:black;
    border-radius: 30px;
    width: 1050px;
}



.Title{
    color: black;
}



.ToBuyGamesh3{
    display:inline-block;
    height: 25px;
    background-color:#FFCE45;
    color:black;
    border-radius: 10px;
    width: 150px;
}

.CustomersListh3{
    display:inline-block;
    height: 25px;
    background-color:#FFCE45;
    color:black;
    border-radius: 10px;
    width: 150px;
}

.FacebookPage{
    display:inline-block;
    height: 20px;
    background-color:#FFCE45;
    color:black;
    border-radius: 10px;
    width: 150px;
}

.FacebookMessenger{
    display:inline-block;
    height: 20px;
    background-color:#FFCE45;
    color:black;
    border-radius: 10px;
    width: 150px;
}
=========================================================================================

Playstaion[PS4/PS5]

.PS {
    text-align: center;
}
